extends layout

block content
	div(class="ui main four column container")
		div(class="ui grid")
			div(class="row")
				div(class="four wide column")
					div(class="ui large vertical menu")
						div(class="item")
							div(class="ui icon input")
								input(type="text" placeholder="Search teams...")
								i(class="search icon")
						a(class="item")
							div(class="ui green label") +20%
							| Cloud 9
						a(class="item")
							div(class="ui label") +1%
							| Fnatic
						a(class="item")
							div(class="ui red label") -12%
							| NiP
				div(class="twelve wide column")



